*{
      --accent-color1: #431DDC;
      --accent-color2: #C929D7;
      --bg-color: #09090B;
      --second-color: #1E1E1F;
      --txt-color: #FFFFFF;
      color: var(--txt-color);
      font-family: 'Inter', sans-serif;
      scroll-padding-top: 300px; 
}

body {
    background-color: var(--bg-color);
}

.firstname {
      font-size: 35px;
      font-weight: bold;
      margin: 0;
}

.lastname {
      font-size: 25px;
      font-weight: lighter;
      margin: 0;
}

.name {
    margin-left: 10px;
    position: absolute;
}

nav {
    align-items: center;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 150px;
    margin-right: auto;
}

nav ul li {
    margin-right: 40px;
    margin: 20px;
}

a {
    color: var(--txt-color);
    display: inline-block;
    font-size: 25px;
    position: relative;
    text-decoration: none;
}

.link::after{
    background-color: var(--txt-color);
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    width: 100%;
}

.link:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.btnRect {
    background:         linear-gradient(to right, var(--bg-color), var(--bg-color)) padding-box,        linear-gradient(to right, var(--accent-color1), var(--accent-color2)) border-box;
    border-radius: 40px;
    border: 3px solid transparent;
    margin-right: 20px;
    padding: 4px 12px;
    transition: transform .2s;
    width: fit-content;
}

.btnRect:hover {
    transform: translateY(-4px);
}

.welcome {
    font-size: 25px;
    margin-bottom: 140px;
    margin-top: 140px;
    text-align: center;
}

.description {
    font-size: 23px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.more {
    margin: auto;
}

.profil, .experience, .formation {
    background-color: var(--second-color);
    border-radius: 15px;
    height: fit-content;
    margin: auto;
    max-width: 85%;
    overflow: hidden;
    border: rgb(41, 41, 41) solid 2px;
}

.experience {
    margin-bottom: 29px;   
}

.sectionTitle {
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
    position: absolute;
}

.sectionDescription {
    font-size: 23px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-top: 130px;
    max-width: 60%;
    overflow: hidden;
    width: fit-content;
    word-wrap: break-word;
}

.section {
    background:
        linear-gradient(to right, var(--bg-color), var(--bg-color)) padding-box,
        linear-gradient(to right, var(--accent-color1), var(--accent-color2)) border-box;
    border-bottom: 3px solid transparent;
    opacity: 0.5;
    padding: 4px 12px;
    position: relative;
    scale: 0.8;
    filter: blur(2px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.section.scrollEffect {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(-40%) scale(1.2);
}

.popup {
	position: fixed;
	display: none;
	z-index: 9999;
}

.wrapper {
    max-width: 600px;
    width: 60%;
    height: 180px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: var(--second-color);
    padding: 30px;
    border-radius: 10px;
}

.popupTitle {
    text-decoration: underline;
    margin-top: auto;
    margin-bottom: 50px;
}

.wrapper a {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.wrapper p:last-of-type {
    margin-top: 30px;
}

.wrapper i {
    font-size: 30px;
    position: absolute;
    right: 30;
    top: 30;
    transition: all 0.3s;
}

.wrapper i:active {
    scale: 0.7;
}

footer a{
    font-size: 23px;
    color: rgb(123, 123, 123);
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

@media (max-width: 759px) {
    .name {
        text-align: center;
        position: relative;
    }

    nav {
        width: 100%;
    }
    
    nav ul {
        margin-left: 0;
    }

    .welcome {
        margin-top: 30px;
        margin-bottom: 200px;
    }

    .description {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .sectionDescription {
        font-size: 21px;
    }
}

@media (max-width: 616px) {
    .name {
        display: none;
    }

    nav li {
        display: none;
    }

    nav button {
        display: none;
    }

    .section {
        scale: 0.7;
    }
    
    .sectionDescription {
        font-size: 23px;
        width: 100%;
    }
}