@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #ffffff;
    --accent: #f4978e;
    --secondary: #fbc4ab;
    background: linear-gradient(to right, var(--bg), #ffe0dd 80%);
}

nav {
    font-family: Sen, sans-serif;
}

html {
    scroll-behavior: smooth;
}